app/xml_schema/variable.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:include schemaLocation="name.xsd"/>

<xsd:complexType name="variable">
  <xsd:attribute name="name" type="module-or-variable-name" use="required"/>
  <xsd:attribute name="value" type="xsd:double" use="required"/>
</xsd:complexType>

</xsd:schema>
